# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env*
*.venv
venv/
ENV/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test outputs
htmlcov/
.coverage
.tox/

# Chroma VectorDB
chroma_db/

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.orig
*.rej

notes.txt